html {
  scroll-behavior: smooth;
}

#sobre-mi i{
    margin-bottom: 40px;
}


@media(max-width:760px){
  #header{
   background: rgba(255, 255, 255, 0.6); /* color semi-transparente */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

}


.columns-about{
  border: 1px solid #e8e3e3;
   background: rgba(255, 255, 255, 0.2); /* color semi-transparente */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.columns-about {
  transition: all 0.3s ease-in-out;
}

.columns-about:hover {
  transform: scale(1.05);
}


