html {
  scroll-behavior: smooth;
}

#sobre-mi i{
    margin-bottom: 40px;
}


@media(max-width:760px){
  #header{
   background: rgba(255, 255, 255, 0.6); /* color semi-transparente */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

}


.columns-about{
  border: 1px solid #e8e3e3;
   background: rgba(255, 255, 255, 0.2); /* color semi-transparente */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.columns-about {
  transition: all 0.3s ease-in-out;
}

.columns-about:hover {
  transform: scale(1.05);
}

.proyectos {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px); /* Safari */
  background-color: rgba(243, 244, 246, 0.7); /* gris claro semi-transparente */
  border: 2px solid #bfdbfe; /* border-blue-50 */
  border-radius: 1rem;
  box-shadow: inset;
  
}

