html {
  scroll-behavior: smooth;
}

#sobre-mi i{
    margin-bottom: 40px;
}


@media(max-width:760px){
  #header{
   background: rgba(255, 255, 255, 0.6); /* color semi-transparente */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

}


.columns-about{
  border: 1px solid #e8e3e3;
   background: rgba(255, 255, 255, 0.2); /* color semi-transparente */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.columns-about {
  transition: all 0.3s ease-in-out;
}

.columns-about:hover {
  transform: scale(1.05);
}

.proyectos {
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px); /* Safari */
  background-color: rgba(243, 244, 246, 0.7); /* gris claro semi-transparente */
  border: 2px solid #bfdbfe; /* border-blue-50 */
  border-radius: 1rem;
  box-shadow: inset;
  
}

.proyect-list{
  margin-top: 70px; 
}

.proyect-list ul{
font-family: Arial, Helvetica, sans-serif;
color: rgb(23, 35, 29);
padding-bottom: 6px;
padding-top: 6px;
font-weight: 700;
}

.proyect-list li{
font-family: Arial, Helvetica, sans-serif;
color: rgb(23, 35, 29);
padding-bottom: 4px;
padding-top: 4px;
font-weight: 500;
}

.proyect-list p{
font-family: Arial, Helvetica, sans-serif;
color: rgb(59, 79, 69);
font-size: 12px;
padding-bottom: 2px;
padding-top: 2px;
font-weight: 300;
}

@media(max-width: 1200px){

.proyect-list{
display: none;
}

}
